


{% extends "index.html" %}
{% load static %}

{% block title %}
  contect
{% endblock title %}

{% block contectActive %}activelink{% endblock contectActive %}

{% block content %}

<div class="container py-5">
    <div class="row my-3">
        <div class="col-4 m-auto text-center shadow-lg p-3">
            <form method="post">
              {% csrf_token %}
              <h3 class="text-info px-3">Fill the form....</h3>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingUsername" placeholder="Username" name="username">
                    <label for="floatingUsername">Username</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingemail" placeholder="first_name" name="first_name">
                    <label for="floatingfirst_name">First Name</label>
                  </div>
                  
                  <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatinglast_name" placeholder="last_name" name="last_name">
                    <label for="floatinglast_name">Last Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingemail" placeholder="email" name="email">
                    <label for="floatingemail">email</label>
                  </div>
                  <div class="text-center">
                    <button class="btn btn-outline-success px-4" type="submit">Submit</button>
                  </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
